# Files
*.pyc
*.so
*.swp
*egg
.cache
.coverage
coverage.xml
cc-test-reporter
Log.out
genomepy/config/default.yaml

# Directories
docs/_autosummary
docs/_build
tests/data
.pytest_cache
build
genomepy.egg-info
dist
eggs
tmp
.vscode
.idea
