# Files
*.pyc
*.so
*.swp
*egg-info
*egg
.cache
.pytest_cache
.coverage
coverage.xml
cc-test-reporter
Log.out
genomepy/cfg/default.yaml
tests/data/small_genome.fa.gz

# Directories
build
dist
eggs
tmp
docs/_build
.vscode
.idea
