name: genomepy
channels:
  - bioconda
  - conda-forge
  - defaults
dependencies:
  # Also found in setup.py
  - appdirs
  - biopython>=1.73  # for pyfaidx
  - diskcache
  - click
  - colorama
  - filelock
  - loguru
  - mygene
  - mysql-connector-python
  - norns>=0.1.5
  - numpy
  - pandas
  - pyfaidx>=0.5.7
  - requests
  - tqdm>=4.51

  # Bgzip
  - tabix

  # Annotation downloading
  - ucsc-bedtogenepred
  - ucsc-genepredtobed
  - ucsc-genepredtogtf
  - ucsc-gff3togenepred
  - ucsc-gtftogenepred

  # Plugins
  - bowtie2
  - bwa
  - gmap
  - hisat2
  - minimap2
  - star

  # Distribution
  - setuptools

  # Testing
  - autoflake=1.4  # versions match .pre-commit-config.yaml
  - black=21.5b2
  - flake8=3.9.2
  - flake8-bugbear=21.4.3
  - isort=5.9.1
  - pre-commit
  - pytest
  - pytest-rerunfailures
  - pytest-cov
