name: genomepy
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  # Also found in pyproject.toml
  - appdirs
  - biopython >=1.73, <1.80  # for pyfaidx (biopython 1.80 requires pyfaidx >0.7.1)
  - diskcache
  - click
  - colorama
  - filelock >=3.5
  - loguru
  - mygene
  - mysql-connector-python
  - norns >=0.1.5
  - numpy
  - pandas
  - pyfaidx >=0.5.7
  - python >=3.7
  - requests
  - tqdm >=4.51

  # Bgzip
  - tabix

  # Annotation downloading
  - ucsc-bedtogenepred
  - ucsc-genepredtobed
  - ucsc-genepredtogtf
  - ucsc-gff3togenepred
  - ucsc-gtftogenepred

  # Plugins
  - bowtie2
  - bwa
  - gmap
  - hisat2
  - minimap2
  - star

  # Distribution
  - python-build
  - twine ==3.3.0
  - keyring ==22.3.0

  # Testing
  - autoflake ==1.4
  - black ==22.6.0
  - flake8 ==4.0.1
  - flake8-bugbear ==22.7.1
  - flakeheaven ==2.0.0
  - isort ==5.10.1
  - pytest
  - pytest-rerunfailures
  - pytest-cov
